<meta charset="utf-8" />
<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge"
/>
<title>Himmaleh Spirits</title>
<meta
  name="description"
  content="Himmaleh Spirits"
/>
<meta
  name="keywords"
  content="fullscreen image, grid layout, flexbox grid, transition"
/>
<meta
  name="author"
  content="ThemePunch"
/>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>

<link
  rel="icon"
  type="image/x-icon"
  href="assets/img/favicon.png"
/>

<link
  rel="preconnect"
  href="https://fonts.googleapis.com"
/>
<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/>
<link
  href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700;800&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="assets/css/style.css"
/>

<!--
<meta charset="utf-8">
<meta name="author" content="Harshad Satra">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Harshad Satra" />
<meta property="og:image" content="https://harshadsatra.in/assets/img/harshad-developer.jpg" />
<meta property="profile:first_name" content="Harshad" />
<meta property="profile:last_name" content="Satra" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@600;700;800&display=swap" rel="stylesheet">
<link id="tt-themecss" rel="stylesheet" href="assets/css/main.css">
-->
